<!DOCTYPE html>
<html ng-app = "MyApp">
  <head>
    <meta charset="utf-8">
    <title>Hola Controller</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="controller.js"></script>
  </head>
  <body ng-controller="FirstController">
    <input type="text" ng-model="nombre">
    {{"Hola " + nombre}}
  </body>
</html>
