<!DOCTYPE html>
<html ng-app = "MyApp">
  <head>
    <meta charset="utf-8">
    <title>Mi Primer Pagina AngularJS</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="controller.js"></script>
  </head>
  <body ng-controller="FirstController">
    <input type = "text" ng-model = "newPost.title"><br>
      <textarea type = "text" ng-model = "newPost.body">

      </textarea>
      <button ng-click = "addPost()">Enviar</button>
      <ul>
        <li ng-repeat = "post in posts">
          <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
        </li>
      </ul>
  </body>
</html>
