<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Hola mundo con AgularJs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    {{"Hola" + "Mundo"}}
  </body>
</html>
