<!DOCTYPE html>
<html ng-app = "ToDoList">
  <head>
    <meta charset="utf-8">
    <title>Mi Primer Pagina AngularJS</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="angular-local-storage.js"></script>
      <script src="controller.js"></script>
  </head>
  <body ng-controller="ToDoController">
    <ul>
      <li ng-repeat = "actividad in todo">
        {{actividad.descripcion}} - {{actividad.fecha | date: 'short'}}
      </li>
    </ul>
    <form ng-submit = "addActividad()">
      <input type="text" ng-model = "newActv.descripcion">
      <input type="datetime-local" ng-model = "newActv.fecha">
      <input type="submit" value="Guardar actividad">
    </form>
    <button ng-click="clean()">Limpiar</button>
  </body>
</html>
