body{
  font-size: 20px;
  font-family: sans-serif, Arial;
}
.body{
  padding: 60px 15px;
}
.main-vav a{
  width: 33%;
  display: inline-block;
}
.carter-one{
  font-family: 'Carter One', cursive;
}
.title{
  font-size: 2.5em;
  margin-top: 0;
}
.nav-link{
  color:white;
  margin-right: -4px;
  text-decoration: none;
  width: 33%;
  display: inline-block;
}
.main-header{
  background-color:#34495E;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 4px;
}
.text-center{
  text-align: center;
}
.red-text{
  color: #F45B60;
}
.main-container{
  min-height: 100vh;
}
.pj img{
  width: 150px;
}
.pj h3{
  font-size: 1.7em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card{
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.threeD{
  text-shadow: 1px 3px 0px #6B251D, 1px 13px 5px rgb(171, 168, 168);
}
.dalay-1{
  animation-delay: 0.1s;
  position: relative;
  z-index: 8;
}
.dalay-2{
  animation-delay: 0.2s;
  position: relative;
  z-index: 7;
}
.dalay-3{
  animation-delay: 0.3s;
  position: relative;
  z-index: 6;
}
.dalay-4{
  animation-delay: 0.4s;
  position: relative;
  z-index: 5;
}
.dalay-5{
  animation-delay: 0.5s;
  position: relative;
  z-index: 4;
}
.dalay-6{
  animation-delay: 0.6s;
  position: relative;
  z-index: 3;
}
.dalay-7{
  animation-delay: 0.7s;
  position: relative;
  z-index: 2;
}
.dalay-8{
  animation-delay: 0.8s;
  position: relative;
  z-index: 1;
}
