<!DOCTYPE html>
<html ng-app = "MyApp">
  <head>
    <meta charset="utf-8">
    <title>Hola Controller</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="controller.js"></script>
  </head>
  <body ng-controller="FirstController">
    <input type="text" ng-model="nuevoComentario.comentario"><br>
    <input type="text" ng-model="nuevoComentario.username"><br>
    <button type="button" ng-click = "agregarComentario()">Agregar Comentario</button>
    <h3>Comentarios</h3>
    <ul>
      <li ng-repeat = "comentario in comentarios">
        {{comentario.comentario}} - <strong>{{comentario.username}}
        </strong>
      </li>
    </ul>
  </body>
</html>
