<!DOCTYPE html>
<html ng-app = "mainModule">
  <head>
    <meta charset="utf-8">
    <title>Mi Primer Pagina AngularJS</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="angular-local-storage.js"></script>
      <script src="controller.js"></script>
  </head>
  <body ng-controller = "FilterController" >
    {{mi_HTML | removeHTML}}
    <!--
    {{mi_HTML | json}}
    <p>{{costo | currency}}</p>
  -->

  </body>
</html>
